/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
* {
	max-width: 100%;
}

p {
	font-size: 20px;
}

h2 {
	font-size: 20px;
}

.navbar {
	width: 100%;
}

header nav a {
	display: inline-block;
	text-decoration: none;
	margin: 50px;
	color: lightslategray;
}

.logo {
	display: inline-block;
	margin-left: 10%;
	width: 275px;
}

#top .container {
	display: inline-block;
	width: 50%;
}

#top .get-started-btn {
	width: auto;
	margin-left: 400px;
	margin-bottom: 50px;
	padding: 10px 15px;
	background-color: white;
	border: 1px solid black;
}

#top h1 {
	font-size: 150px;
	text-align: center;
	padding: 10px;
}

#top img {
	height: 600px;
	width: 600px;
}

#middle .container {
	display: inline-block;
	width: 100%;
	border-top: 1px solid black;
}

.features {
	display: inline-block;
	width: 35%;
	margin: 50px 0px 50px 200px;
	line-height: 1.2;
	text-align: left;
}

.about {
	display: inline-block;
	width: 35%;
	line-height: 1.2;
	text-align: left;
}

.middle-img {
	display: inline-block;
	margin: 0 10%;
	width: 75%;
	height: 300px;
}

#bottom .container-two {
	display: inline-block;
	width: 100%;
	padding: 2%;
	margin: 2%;
}

.services {
	display: inline-block;
	width: 25%;
	margin-left: 8%;
	line-height: 1.2;
	text-align: left;
}

.products {
	display: inline-block;
	width: 25%;
	line-height: 1.2;
	text-align: left;
}

.vision {
	display: inline-block;
	width: 25%;
	line-height: 1.2;
	text-align: left;
}

address {
	display: inline-block;
	padding-top: 5%;
	width: 100%;
	margin-top: 30px;
	border-top: 1px solid;
}

address .contact {
	line-height: 1.7;
	margin-top: 1%;
}

footer {
	text-align: center;
	margin-bottom: 5%;
}